/* Estilos para el componente principal App */
:host {
  display: block;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

app-route-animation {
  display: block;
  width: 100%;
  height: 100vh;
}
